{% extends 'base.html' %}
{% load static %} 

{% block body_class%}
booking-page
{% endblock %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<div id="calendar-container">
    <div id="header">
        <button id="prev">&#10094;</button>
        <h1 id="monthAndYear"></h1>
        <button id="next">&#10095;</button>
    </div>
    <table id="calendar">
        <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="list-container">
    <ul id="exercise-list"></ul>
</div>


<script type="text/javascript">
    const fetchSchedulesUrl = "{% url 'fetch_schedules' %}";
    const bookClassUrl = "{% url 'book_class' %}";
</script>
<script src="{% static 'js/booking.js' %}"></script>
{% endblock %}