{% load static %}
<footer class="footer">
  <div class="footer-top">
    <nav class="footer-nav first">
      <h3 class="footer-title">Members</h3>
      <ul class="footer-top-ul">
        <li>
          <a class="footer-link" href="#">Find a Gym</a>
        </li>
        <li>
          <a class="footer-link" href="#">Snap Fitness Blog</a>
        </li>
        <li>
          <a class="footer-link" href="#">FAQ</a>
        </li>
        <li>
          <a class="footer-link" href="#">Member Stories</a>
        </li>
        <li>
          <a class="footer-link" href="#">Myzone Heart Rate Training</a>
        </li>
        <li>
          <a class="footer-link" href="#">Snap App</a>
        </li>
        <li>
          <a class="footer-link" href="#">Earn With Apple Watch</a>
        </li>
        <li>
          <a class="footer-link" href="#">Our Guarantee</a>
        </li>
      </ul>
    </nav>
    <nav class="footer-nav second">
      <h3 class="footer-title">Franchise</h3>
      <ul class="footer-ul">
        <li>
          <a class="footer-link" href="#">Why Franchise</a>
        </li>
        <li>
          <a class="footer-link" href="#">Franchise Blog</a>
        </li>
      </ul>
    </nav>
    <nav class="footer-nav third">
      <h3 class="footer-title">Corporate</h3>
      <ul class="footer-ul">
        <li>
          <a class="footer-link" href="#">Contact Us</a>
        </li>
        <li>
          <a class="footer-link" href="#">Careers</a>
        </li>
        <li>
          <a class="footer-link" href="#">News</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="footer-bottom">
    <div class="footer-icons">
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-linkedin"></ion-icon>
      <ion-icon name="logo-youtube"></ion-icon>
    </div>
    <ul class="footer-bottom-ul">
      <li>
        <a class="privacy" href="#">Privacy Policy</a>
      </li>
      <li>
        <a class="terms" href="#">Terms & Conditions</a>
      </li>
      <li>
        <a class="acess" href="#">Accessibility Statement</a>
      </li>
      <li>
        <a class="cal" href="#">California Privacy Rights</a>
      </li>
    </ul>
  </div>
</footer>
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>