{% load static %}
<header class="header">
  <a href=" ">
    <img class="fitness-logo" src="{% static 'img/fitnesslogo.png'%}" alt="fitnesslogo" />
  </a>
  <nav class="header-nav">
    <ul class="header-nav-list">
      <li>
        <a class="header-nav-link" href="{% url 'booking' %}">Booking</a>
      </li>
      <li>
        <a class="header-nav-link" href="#">My Bookings</a>
      </li>
    </ul>
    <a class="authentication" href="{% url 'signin' %}">
      <button class="sign-in">Sign In</button>
    </a>
  </nav>
</header>
<script type="text/javascript">
const checkAuthUrl = "{% url 'check_auth' %}";
const logoutUrl = "{% url 'logout' %}";
</script>



<script src="{% static 'js/header.js' %}"></script>
