.booking-page main {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 100vh; */
    padding: 0 10rem;
  }

#calendar-container {
    width: 300px;
    border: 1px solid #ccc;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007BFF;
    color: white;
    padding: 10px;
}

#header h1 {
    margin: 0;
}

#calendar {
    width: 100%;
    border-collapse: collapse;
}

#calendar th {
    background-color: #007BFF;
    color: white;
}

#calendar td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ccc;
}

#calendar td:hover {
    background-color: #f0f0f0;
}

.selected {
    background-color: #007BFF;
    color: white;
}

/*  */

.list-container {
    width: 300px;
    background-color: #007BFF;
}

#exercise-list {
    text-align: center;
    width: 100%;
}

#exercise-list li {
    padding: 7px;
    color: white;
}